@model IEnumerable<WebAppMVC.Teste.PRODUTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DES_PRODUTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STA_STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.COD_PRODUTO)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DES_PRODUTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.STA_STATUS)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.COD_PRODUTO }) |
        @Html.ActionLink("Detalhes", "Details", new { id = item.COD_PRODUTO }) |
        @Html.ActionLink("Deletar", "Delete", new { id = item.COD_PRODUTO })
    </td>
</tr>
}

</table>
